@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");

html {
  font-family: "Inter";
}

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #151719;
  background-image: url("/assets/shape.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

header,
main,
.footer {
  display: flex;
  width: 1104px;
}

main {
  flex-wrap: wrap;
  gap: 80px;
}

header {
  justify-content: space-between;
  padding: 24px 0;
}

.logo {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.buttons {
  display: flex;
}

.buttons__sign-in,
.buttons__sign-up {
  cursor: pointer;
  width: 96px;
  height: 40px;
  border: none;
  font-weight: 500;
  line-height: 24px;
}

.buttons__sign-in {
  margin-right: 48px;
  text-align: end;
  background-color: transparent;
  color: #5d5dff;
}

.buttons__sign-up {
  border-radius: 2px;
  background-color: #5d5dff;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1,
h2,
h3,
h4,
.text {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #d9e3ea;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.25px;
  color: #9ba9b4;
}

.text--start {
  text-align: start;
}

.caption {
  font-size: 20px;
  line-height: 30px;
}

h1,
h2 {
  margin-bottom: 16px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

h3,
h4 {
  font-weight: 700;
  letter-spacing: -0.25px;
}

h1 {
  font-size: 52px;
  line-height: 62px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 32px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

.intro {
  margin-top: 80px;

  position: relative;
}

.intro__buttons {
  margin-top: 32px;
  margin-bottom: 64px;
}

.buttons__start,
.buttons__learn {
  cursor: pointer;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.buttons__start {
  width: 167px;
  margin-right: 16px;
  background-color: #5d5dff;
}

.buttons__learn {
  width: 149px;
  background-color: #33363a;
}

.intro__wrap {
  width: auto;
  margin-right: 125px;
  padding-bottom: 64px;
  background-image: url("/assets/introShape.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.wrap__content {
  position: relative;
  margin-left: 125px;
}

.content__play-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 88px;
  height: 88px;

  border: none;
  border-radius: 50%;
  background-color: #ebf1f5;
}

.content__video {
  width: 1024px;
  height: 576px;
}

.description {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #33363a;
}

.description__title {
  margin-bottom: 44px;
}

.description__advantages {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
  margin-top: 52px;
}

.advantages__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.examples {
  padding-bottom: 80px;
  border-bottom: 1px solid #33363a;
}

.examples__button {
  cursor: pointer;
  width: 186px;
  height: 30px;

  margin-bottom: 20px;
  border: none;
  border-radius: 16px;

  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #36a269;

  background-color: #c6f6d5;
}

.examples__instance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  margin-top: 80px;
}

.instance__definition {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 500px;
}

.definition__lozung {
  font-family: "Architects Daughter";
  color: #5d5dff;
}

.definition__capture {
  margin-bottom: 8px;
}

.definition__list {
  list-style-image: url("/assets/check.svg");
  margin-top: 16px;
  margin-left: 20px;
}

.definition__list li:not(:last-child) {
  margin-bottom: 8px;
}

.instance__ui {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 16px 16px 16px;
  background-color: #25282c;
}

.instance__ui .header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #33363a;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__buttons {
  gap: 8px;
}

.user__arrows--vertical {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons__arrows,
.buttons__minus,
.buttons__plus {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 28px;
  border: none;
  border-radius: 2px;
  text-align: center;
}

.buttons__arrows {
  width: 40px;
  background-color: #55595f;
}

.buttons__minus {
  width: 64px;
  background-color: #5d5dff;
}

.buttons__plus {
  width: 40px;
  background-color: #36a269;
}

.ui-1__tasks {
  display: flex;
  flex-direction: column;
}

.tasks__item {
  display: flex;
  justify-content: space-between;

  width: 508px;
  height: 45px;
  padding: 16px 8px;
  border-radius: 2px;
  border: 1px solid #33363a;
}

.tasks__separator {
  width: 1px;
  height: 8px;
  margin-left: 16px;
  background-color: #55595f;
}

.item__labels {
  display: flex;
  align-items: center;
  gap: 8px;
}

.labels__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  cursor: pointer;
  width: 14px;
  height: 14px;

  background-color: #25282c;
  border: 1px solid #33363a;
}

.labels__checkbox:checked {
  background-image: url("/assets/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.labels__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #d9e3ea;
}

.item__badges {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badges__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 22px;
  border-radius: 20px;
  background-color: rgba(72, 187, 120, 0.24);
}

.number__forth {
  width: 12px;
  height: 12px;
}

.badges__user-1 {
  z-index: 1;
}

.badges__user-2 {
  margin-left: -15px;
}

.badges__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #33363a;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: #9ba9b4;
}

.wrap__circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.circle--green {
  background-color: #48bb78;
}

.circle--blue {
  background-color: #5d5dff;
}

.badges__long-arrows {
  margin-left: 4px;
}

.ui-2__tasks {
  position: relative;
}

.tasks__rows {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(7, 32px);
  width: 100%;
}

.tasks__rows > :first-child {
  border-top: 1px solid #33363a;
}

.rows__item {
  border-bottom: 1px solid #33363a;
}

.tasks__shapes {
  display: grid;
  grid-template-rows: repeat(42, 6px);
  grid-template-columns: repeat(127, 4px);
}

.shapes__rectangle {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 2px;
  z-index: 2;
  background-color: #25282c;
  box-shadow: 0px 1px 4px 0px rgba(21, 23, 25, 0.24);
  border: 1px solid #33363a;
}

.shapes__oval {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.oval__circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.oval--green .oval__circle {
  background-color: #36a269;
}

.oval--blue .oval__circle {
  background-color: #5d5dff;
}

.oval__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #ffffff;
}

.oval--green .oval__text {
  width: 82px;
  background-color: #36a269;
}

.oval--blue .oval__text {
  width: 110px;
  background-color: #5d5dff;
}

.rectangle-1 {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 8;
  grid-column-end: 58;
}

.oval--green {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 66;
  grid-column-end: 89;
}

.rectangle-2 {
  grid-row-start: 11;
  grid-row-end: 19;
  grid-column-start: 26;
  grid-column-end: 63;
}

.rectangle-3 {
  grid-row-start: 11;
  grid-row-end: 19;
  grid-column-start: 71;
  grid-column-end: 108;
}

.rectangle-4 {
  grid-row-start: 22;
  grid-row-end: 30;
  grid-column-start: 48;
  grid-column-end: 98;
}

.oval--blue {
  grid-row-start: 31;
  grid-row-end: 36;
  grid-column-start: 5;
  grid-column-end: 35;
}

.rectangle-5 {
  grid-row-start: 32;
  grid-row-end: 40;
  grid-column-start: 65;
  grid-column-end: 105;
}

.rectangle-1__directs {
  margin-left: 72px;
}

.rectangle-4__dotes {
  margin-left: 32px;
}

.rectangle__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  margin-left: 12px;
}

.tasks__angle,
.tasks__bind {
  position: absolute;
}

.angle-1 {
  top: 23px;
  left: 10px;
}

.angle-2 {
  top: 82px;
  left: 246px;
}

.angle-3 {
  top: 82px;
  left: 386px;
}

.angle-4 {
  top: 143px;
  left: 168px;
}

.tasks__bind {
  z-index: 2;
}

.bind-1 {
  top: 20px;
  left: 24px;
}

.bind-2 {
  top: 82px;
  left: 96px;
}

.bind-3 {
  top: 80px;
  left: 243px;
}

.bind-4 {
  top: 80px;
  left: 277px;
}

.bind-5 {
  top: 80px;
  left: 422px;
}

.bind-6 {
  top: 143px;
  left: 384px;
}

.bind-7 {
  top: 140px;
  left: 184px;
}

.bind-8 {
  top: 203px;
  left: 250px;
}

.ui-3__tasks {
  display: flex;
  padding-bottom: 32px;
  margin-bottom: 9px;
  border: 1px solid #33363a;
  border-top: none;
}

.tasks__row-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #33363a;
}

.row-container__sample {
  display: flex;
  align-items: center;
  height: 44px;
  width: 468px;
  border-bottom: 1px solid #33363a;
  border-left: 1px solid #33363a;
}

.sample-1__icons,
.sample-2__icons,
.sample-4__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  padding: 0 6px;
  border-radius: 20px;
  border: 1px solid #33363a;
}

.sample-1__icons {
  width: 148px;
  margin-left: 16px;
}

.sample-1__filling,
.sample-4__filling {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 24px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #33363a;
}

.sample-1__filling {
  width: 114px;
  margin-left: 162px;
}

.sample-2__avatars {
  display: flex;
  margin-left: 66px;
  margin-right: 8px;
}

.avatars__avatar--left {
  z-index: 1;
}

.avatars__avatar--right {
  margin-left: -15px;
}

.sample-2__icons {
  width: 159px;
}

.sample-3__general-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  margin-left: 156px;
}

.general-wrap__circle-wrap {
  display: flex;
  align-items: center;
  height: 24px;
  width: 62px;
  padding: 10px;
  margin-right: 150px;
  border-radius: 20px;
  border: 1px solid #33363a;
}

.sample-3__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid #33363a;
}

.sample-4__filling {
  margin-left: 27px;
  margin-right: 76px;
}

.sample-4__icons {
  width: 144px;
}

.sample-5__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 40px;
  margin-left: 111px;
  border-radius: 20px;
  background-color: #5d5dff;
}

.sample-5__general-wrap {
  display: flex;
  align-items: center;
  margin-left: 163px;
}

.sample-5 .general-wrap__circle-wrap {
  display: flex;
  align-items: center;
  height: 24px;
  width: 72px;
  padding: 10px;
  margin-right: 150px;
  border-radius: 20px;
  border: 1px solid #33363a;
}

.filling__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.icons__circle,
.filling__circle,
.circle-wrap__instance {
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.circle--blue {
  background-color: #5d5dff;
}

.circle--green,
.instance--green {
  background-color: #48bb78;
}

.circle--yellow {
  background-color: #f6ae55;
}

.circle--red,
.instance--red {
  background-color: #f56565;
}

.tasks__next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: 1px solid #33363a;
}

.ui-1__options,
.ui-2__options {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 28px;
  background-color: rgba(156, 169, 179, 0.16);
}

.reviews__content {
  display: flex;
  gap: 24px;
  margin: 80px 0;
}

.content__card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;

  width: 350px;
  padding: 24px;

  background-color: #25282c;
}

.card__avatar {
  width: 48px;
  height: 48px;
}

.card__quotes {
  position: absolute;
  left: 17%;
}

.card__author {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  padding-top: 24px;
  line-height: 24px;
  letter-spacing: -0.25px;
  border-top: 1px solid #33363a;
}

.card__username {
  font-weight: 400;
  color: #d9e3ea;
}

.card__separator {
  font-weight: 600;
  color: #33363a;
}

.card__role {
  font-weight: 500;
  color: #5d5dff;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 67px;
}

.footer__subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;

  width: 100%;
  padding: 65px 0;

  background-color: #5d5dff;
  background-image: url("/assets/fill.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.subscribe__text,
.subscribe__enter {
  display: flex;
  gap: 8px;
}

.subscribe__text {
  flex-direction: column;
  align-items: start;
}

.subscribe__enter {
  margin: 14px 0;
}

.enter__input,
.enter__button {
  height: 48px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.enter__input {
  width: 320px;
  padding-left: 16px;
  background-color: #4b4acf;
  border: 1px solid #8d8dff;

  font-weight: 400;
  color: #ababff;
}

.enter__button {
  cursor: pointer;
  width: 139px;
  border: none;
  background-color: #f4f4ff;

  font-weight: 500;
  color: #5d5dff;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__general-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 64px;
  margin-bottom: 6px;
}

.general-info__about-us {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-us__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
}

.contacts__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: start;
}

b {
  font-weight: 500;
  color: #d9e3ea;
}

.contacts__connection-ways {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 48px;
}

.connection-ways__lists {
  display: flex;
  gap: 80px;
}

.lists__products,
.lists__resources,
.lists__company {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  list-style: none;
}

.connection-ways__messengers {
  display: flex;
  gap: 16px;
}

.connection-ways__messengers img {
  cursor: pointer;
}
